<div class="row">
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag workshop.photos.first.image, height: 300, width: 400, crop: :fill, class: 'card-img-top' %>
      <div class="card-body">
        <%= link_to workshop.name, workshop_path(workshop), class: "card-link"%>
        <h4 class="card-title mt-2"><%= truncate(workshop.description,
                   omission: "", length: 40,  separator: " ")%></h4>
      </div>
      <div class="card-footer d-flex justify-content-around">
        <div class="card-foot-square">
          <i class="fas fa-yen-sign"><%= workshop.price %></i>
        </div>
        <div class="card-foot-square">|</div>
        <div class="card-foot-square">
          <i class="fas fa-signal"><%= workshop.level %></i>
        </div>
        <div class="card-foot-square">|</div>
        <div class="card-foot-square">
          <i class="far fa-clock"><%= "#{workshop.duration}/minutes" %></i>
        </div>
    </div>
  </div>
</div>
