<div class="row w-100">
  <div class="mx-auto">
    <div class = "datepicker" data-default-date= <%= workshop.date_time %> data-min-date= <%= workshop.date_time %> data-max-date=<%= workshop.date_time %>  ></div>
    <div class="booking-calender w-75">
    <div>
      <h5 class="blue underline m_font mt-4">Start Time:</h5>
      <%= @workshop.date_time.hour %>
      </%>
    </div>
      <%= simple_form_for [@workshop, @booking] do |f| %>
        <% max_left = @workshop.spaces_left <= 6 ? @workshop.spaces_left
        : 6 %>
        <%= f.input :num_guests, label: "Number of Attendees", collection: (1..max_left), label_html: { class: 'mt-2 blue m_font underline' } %>
        <%= f.submit "Book Now", class: "btn btn-primary btn-sm text-white" %>
      <% end -%>
    </div>

    <div class="booking-footer">
      <p class="my-2 grey s_font"><%= @workshop.spaces_left %> <%= @workshop.spaces_left == 0 ? 'Sorry, This class is full' : ' Spaces left' %></p>
    </div>
  </div>
</div>

