<div class="row w-100 p-3">
  <div class="mx-auto">
    <div class = "datepicker"></div>
    <div class="booking-calender w-75">
    <div>
      <h5 class="blue underline m_font mt-4">Start Time:</h5>
      <%= @workshop.date_time.hour %>
      <%= "- #{@workshop.duration}/min"%>
      </%>
    </div>
      <%= simple_form_for [@workshop, @booking] do |f| -%>
        <%= f.input :num_guests, :label => "Number of Attendee", collection: 1..6, label_html: { class: 'mt-2 blue m_font underline' } %>
        <%= f.submit "Book Now", class: "btn btn-primary btn-sm text-white" %>
      <% end -%>
    </div>

    <div class="booking-footer">
     <% spaces = @workshop.capacity %>
     <% @workshop.bookings.each { |booking| spaces -= booking.num_guests } %>
      <p class="my-2 grey s_font"><%= spaces %> space left</p>
    </div>
  </div>
</div>

