
<div class="banner">
  <div class="flex-container">

    <div class="row">
      <h2>I want to | <span class="underline blue">Make Ceramics</span></h2>
    </div>

    <div class="row row-mr">

      <%= link_to workshops_path do %>
      <input class="btn-banner" type="search", placeholder="   Find a workshop near you">
      <% end %>
    </div>

    <div class="row row-mr">
      <h3>With <span class="underline bold">Obbis</span> you can discover new skills to learn here in Japan</h3>
    </div>

  </div>
</div>


<div class="container">
 <div class="row flex-container row-mr ">
    <h2> <span class="bold">Find you a new | </span><span class="underline blue bold"><%= link_to 'Hobby', workshops_path %></span></h2>
  </div>
</div>

<div class="card borderless">
  <div class="card-container">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'jewlery4.jpg' %>)">
      Jewelry
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'floristry3.jpg' %>)">
      Floristry
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'ceramic.jpg' %>)">
      Ceramics
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'leather.jpg' %>)">
      Leather
    </div>
  </div>

  <div class="card-container mb-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'calligraphy.jpg' %>)">
      Calligraphy
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'woodwork.jpg' %>)">
      Wood Crafting
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'pottery.jpg' %>)">
      Pottery
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'sewing.jpg' %>)">
      Sewing | Knitting
    </div>
  </div>
</div>



